name: Test and build
on:
  - push
  - pull_request
jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install
      
      - name: Type checking
        run: bun run typecheck
      
      - name: Lint
        run: bun run lint

      - name: Test
        run: bun run test

  CD: 
    if: startsWith(github.ref, 'refs/tags/v') && github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions: write-all
    needs: CI
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build project
        run: bun build src/index.ts --outdir=dist

      - name: Set env
        run: echo "GITHUB_TAG_NAME=$(echo ${{github.ref}} | sed -e 's/refs\/tags\///g')" >> $GITHUB_ENV

      - name: Test
        run: echo $GITHUB_TAG_NAME
        
      - name: Create GitHub Release
        run: gh release create $GITHUB_TAG_NAME --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to npm
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{secrets.NPM_TOKEN}}


    